.approach-block {
  background-image: url('../img/backgrounds/hexagon-light.png');
  padding: 115px 91px;
  @include media-breakpoint-down('md') {
    padding: 45px 20px;
  }
  .our-approach {
    background: $white;
    padding-top: 71px;
    padding-bottom: 43px;
    padding-left: 53px;
    padding-right: 53px;
    @include media-breakpoint-down('md') {
      padding: 40px 20px;
    }
    .title {
      margin-bottom: 47px;
    }
    .content {
      text-align: center;
      max-width: 944px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      // @include heading-font();
      font-family: $font-family-pharma;
      color: rgba($black, 0.87);
      margin-bottom: 93px;
      @include media-breakpoint-down('md') {
        margin-bottom: 40px;
      }
    }
  }
}