.resource-detail-block {
  padding-top: 72px;
  padding-bottom: 120px;
  background-color: $white;
  @include media-breakpoint-down('md') {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .pdf-image {
    padding-top: 33px;
    padding-bottom: 70px;
    max-width: 590px;
    img {
      width: 100%;
    }
  }
  .description {
    font-size: 14px;
    color: rgba($black, 0.87);
    max-width: 640px;
  }
}