.control-panel {
  .filter-buttons {
    display: flex;
    justify-content: space-between;
    .btn {
      margin-top: 24px;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @include media-breakpoint-up('lg') {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  @include media-breakpoint-down('md') {
    flex-wrap: wrap;
    .filter-buttons {
      flex-wrap: wrap;
    }
  }
}