.pagination {
  .page-number {
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: $primary;
      font-weight: 600;
      font-size: $font-size-base;
    }
  }
}